.status {
    display: flex;
    &__label {
        font-size: 12px;
    }

    &__dot {
        margin-right: 5px;
        width: 12px;
        height: 12px;
        background-color: #940;
        border-radius: 50%;

        &--active {
            background-color: #690;
    }
 }
}
