.status {
    display: flex;
    
    &__label {
        font-size: 12px;
    }

    &__dot {
        background-color:#FF0000;
        border-radius: 50%;
        height: 12px;
        margin-top: 3px;
        margin-right: 5px;
        width: 12px;

        &--active {
            background-color: 	#228B22;
    }
 }
}
